<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>OAuth Server Login</title>
    <link rel="stylesheet" href="../webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <a class="navbar-brand" href="#">OAuth2 Custom Authorization Approval Screen</a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <h3>Do you authorize <span class="text-primary" th:text="${client}"></span> to access your protected resources:
        </h3>
        <ul style="padding-top: 15px">
            <th:block th:each="s: ${scope}">
                <li><h4 th:text="${s}"></h4></li>
            </th:block>
        </ul>
    </div>
    <div class="row" style="padding-top: 35px">
        <form id="confirmationForm" name="confirmationForm" action="authorize" method="post" style="display: inline">
            <input name="user_oauth_approval" value="true" type="hidden">
            <button class="btn btn-success" type="submit">Allow</button>
        </form>

        <form id="denialForm" name="denialForm" action="authorize" method="post" style="display: inline">
            <input name="user_oauth_approval" value="false" type="hidden">
            <button class="btn btn-danger" type="submit">Deny</button>
        </form>
    </div>
</div>

</body>
</html>